* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Sacramento&display=swap');

:root {
    --darkChocolate: rgb(102, 54, 38);
    --caputMortuum: rgb(92, 51, 46);
    --oldBurgundy: rgb(55, 36, 40);
    --melon: rgb(255, 180, 162);
    --pastelPink:  rgb(229, 152, 155);
    --englishLavender: rgb(181, 131, 141);
    --caramel: rgb(179, 97, 32);
    --orange: rgb(204, 111, 34);
}

html {
    font-size: 10px;
}

body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    background: oldlace;
  }

h1 {
    font-size: 5rem;
    margin-bottom: 0;

    font-family: 'Kaushan Script', cursive;
    color: var(--oldBurgundy);
}

p {
    margin-top: 1.5%;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: var(--caputMortuum);
   
}

h3 {
    font-size: 2.2rem;
    color: var(--oldBurgundy);
}

#fun-facts h3 {
    font-family: 'Sacramento', cursive;
}

blockquote p, cite {
    font-size: 2rem;
}

@media(max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

a {
    color: var(--caramel);
}

li a:hover {
    color: var(--orange);
}

a:visited {
    color: var(--darkChocolate);
}

#headline {
    margin: 50px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 2.6;
}

li {
    margin: 16px 0;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

/* Image Slider */
.slider {
    max-width: 640px;
    border: 10px solid var(--orange);
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    padding: 10px;
    background: oldlace;
    box-shadow: 0 0 2em rgba(0,0,0,.5);
}

.slider .left-slide, .slider .right-slide {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    transition: all .5s ease;
}

.slider .left-slide:hover, .slider .right-slide:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--orange);   
}

.slider .left-slide {
    left: 30px;
}

.slider .right-slide {
    right: 30px;
}


.slider .slider-items .item {
overflow: hidden;
}

.slider .slider-items .item img {
    max-width: 100%;
    display: block;
    animation: zoom 1s ease;
}

@keyframes zoom {
    0% {
        transform: scale(2);
        opacity: 0;        
    }
    50% {
        transform: scale(2);
        opacity: 1;        
    }
    100% {
        transform: scale(1);
        opacity: 1;        
    }
}

.slider .slider-items .item {
    display: none;
    position: relative;
}

.slider .slider-items .item .caption{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 30px;

}

.slider .slider-items .item.active {
    display: block;
    object-fit: cover;
}

/* Replacing Bullets with Images */

ul.truffle-bullet {
    list-style-type: none;
    padding-left: 0;
}

.truffle-bullet li {
    position: relative;
    padding-left: 3rem;
}

.truffle-bullet li:before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    background-image: url(images-resized/chocolate-ball.png);
    background-size: cover;
    background-position: center;
    left: 0;
    transform: translateY(35%);
} 

/* Second Set of Bullets with Images */
ul.truffle-bowel {
    list-style-type: none;
    padding-left: 0;
}

.truffle-bowel li {
    position: relative;
    padding-left: 3.5rem;
}

.truffle-bowel li:before {
    content: '';
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    background-image: url(images-resized/bowel-of-truffles.png);
    background-size: cover;
    background-position: center;
    left: 0;
    transform: translateY(20%);
} 

/* Curvy background */
.curvy {
    position: relative;
    background-color: rgb(219, 134, 64);
}

.custom-shape-divider-bottom-1631411448 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1631411448 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1631411448 .shape-fill {
    fill: rgba(230, 157, 97, 0.966);
}

/* Second curve */

.custom-shape-divider-bottom-1631414365 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1631414365 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 75px;
}

.custom-shape-divider-bottom-1631414365 .shape-fill {
    fill: rgba(216, 147, 91, 0.966);
}

/* Third curve */

.custom-shape-divider-bottom-1631416788 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1631416788 svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1631416788 .shape-fill {
    fill: oldlace;
}